$white: rgba(255, 255, 255, 1);
$white50: rgba(255, 255, 255, 0.5);
$white10: rgba(255, 255, 255, 0.1);
$black: rgba(30, 30, 30, 1);
$black10: rgba(30, 30, 30, 0.1);
$black50: rgba(30, 30, 30, 0.5);
$black75: rgba(30, 30, 30, 0.75);
$gray: rgba(198, 198, 198, 1);
$gray30: rgba(198, 198, 198, 0.3);

$mainText: $black;
$mainBackground: $white;
