@font-face {
  font-family: 'a-regular';
  src: url('/fonts/a-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'a-medium';
  src: url('/fonts/a-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'a-mono';
  src: url('/fonts/a-mono-regular.woff2') format('woff2');
}
