@import 'reset.scss';
@import 'fonts.scss';
@import 'colors.scss';
@import 'functions.scss';
@import 'scroll.scss';
@import 'base.scss';

// html {
//   overscroll-behavior: none;
// }
html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

body {
  overflow: scroll;
  min-height: 100vh;
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}
